<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    
    <bean class="com.zensar.Student" id="sobj" >
<!-- setting values for object -->
<!-- 1.setter methods calling  -->
<property name="sid" value="101"></property>
<property name="sname" value="kiran"/>
<property name="per" value="90"/>
<property name="course" ref="c1"></property>
<property name="hobbies">
<list>
<value>Reading</value>
<value>Cooking</value>
<value>Traveling</value>
</list>  

</property>
</bean>
    </beans>